<nav class="site-nav">
  <ul>
        {% assign nav_pages = site.pages 
           | where: "nav", true 
           | sort: "nav_order" %}
        
        {% for p in nav_pages %}
          <li>
            <a href="{{ p.url | relative_url }}"
               class="{% if p.url == page.url %}active{% endif %}">
               {{ p.title }}
            </a>
          </li>
        {% endfor %}
    
        <li>
          <button id="theme-toggle" class="theme-toggle">☀︎</button>
        </li>
  </ul>
</nav>
